In [98]:
import pandas as pd

In [99]:
QTD_ELEITORES = 156454011

In [100]:
url = "https://resultados.tse.jus.br/oficial/ele2022/545/dados-simplificados/br/br-c0001-e000545-r.json"

In [101]:
df = pd.read_json(url)

In [102]:
df

,ele,tpabr,cdabr,carper,md,t,f,dg,hg,dt,...,vp,pvp,vv,pvv,van,pvan,vansj,pvansj,tv,cand
0,545,br,br,1,N,2,o,30/10/2022,17:54:05,30/10/2022,...,0,"0,00",27890467,"100,00",0,"0,00",0,"0,00",29104317,"{'seq': '1', 'sqcand': '280001618036', 'n': '2..."
1,545,br,br,1,N,2,o,30/10/2022,17:54:05,30/10/2022,...,0,"0,00",27890467,"100,00",0,"0,00",0,"0,00",29104317,"{'seq': '2', 'sqcand': '280001607829', 'n': '1..."

In [103]:
new_df = pd.DataFrame.from_records(df['cand'],index=['1', '2'])

In [104]:
new_df

,seq,sqcand,n,nm,cc,nv,e,st,dvt,vap,pvap
1,1,280001618036,22,JAIR BOLSONARO,PL - PP / REPUBLICANOS / PL,BRAGA NETTO,n,,Válido,14309202,"51,30"
2,2,280001607829,13,LULA,PT - Federação Brasil da Esperança - FE BRASIL...,GERALDO ALCKMIN,n,,Válido,13581265,"48,70"

In [105]:
votos_totais  = df['c'][0]

In [106]:
votos_validos = df['vvc'][0]

In [107]:
votos_nulos = df['tvn'][0]

In [108]:
votos_brancos = df['vb'][0]

In [109]:
abstencoes = df['a'][0]

In [110]:
eleitorado_apurado = df['ea'][0] * 100 / QTD_ELEITORES

In [111]:
votacao = new_df[['n','nm','pvap','vap']]
votacao.columns = ['numero', 'nome_candidato', '%_votos', 'qtde_votos']
print(votacao)

  numero  nome_candidato %_votos qtde_votos
1     22  JAIR BOLSONARO   51,30   14309202
2     13            LULA   48,70   13581265

In [112]:
print('votos totais: ', votos_totais )
print('votos validos: ', votos_validos)
print('votos nulos: ', votos_nulos)
print('votos brancos: ', votos_brancos)
print('abstencoes: ', abstencoes)
print('eleitorado_apurado: ', round(eleitorado_apurado, 2))

votos totais:  29104317
votos validos:  27890467
votos nulos:  823181
votos brancos:  390669
abstencoes:  7520217
eleitorado_apurado:  23.41